@use 'sass:map';
@use 'sass:color';
@use 'sass:list';
@use './variables' as *;

$specific-colors: 'text', 'background', 'contrast0', 'contrast1', 'contrast2', 'contrast3', 'contrast4';

// Themes
@mixin light {
    @each $name, $value in $colors {
        @if not list.index($specific-colors, $name) {
            --color-#{$name}: #{$value};
        }
    }

    --color-text: #{$grey9};
    --color-background: #{$grey1};
    --color-contrast0: #{$white};
    --color-contrast1: #{$grey2};
    --color-contrast2: #{$grey3};
    --color-contrast3: #{$grey4};
    --color-contrast4: #{$grey5};
    --color-contrast5: #{$grey6};
}

@mixin dark {
    @each $name, $value in $colors {
        @if not list.index($specific-colors, $name) {
            --color-#{$name}: #{$value};
        }
    }

    --color-text: #{$grey1};
    --color-background: #{$grey9};
    --color-contrast0: #{$black};
    --color-contrast1: #{$grey8};
    --color-contrast2: #{$grey7};
    --color-contrast3: #{$grey6};
    --color-contrast4: #{$grey5};
    --color-contrast5: #{$grey4};

}

// Breakpoints
@mixin break-down($label) {
    $minValue: map.get($breakpoints, $label) - 1;
    @media (max-width: $minValue) { @content; }
}
@mixin break-up($label) {
    $value: map.get($breakpoints, $label);
    @media (min-width: $value) { @content; }
}

// Colors
@function isDarkColor($color) {
    $result: true;

    @if color.channel($color, 'lightness', $space: hsl) > 50% {
        $result: false;
    }
    @return $result;
}