// Colors
$accent:    #EB4B75 !default;
$success:   #3FEBB8 !default;
$error:     #9E2B0B !default;
$warning:   #EBDE34 !default;

$white:     #ffffff !default;
$grey1:     #f8f9fa !default;
$grey2:     #e9ecef !default;
$grey3:     #dee2e6 !default;
$grey4:     #ced4da !default;
$grey5:     #adb5bd !default;
$grey6:     #6c757d !default;
$grey7:     #495057 !default;
$grey8:     #343a40 !default;
$grey9:     #212529 !default;
$black:     #000000 !default;

$colors: (
    accent: $accent,
    success: $success,
    error: $error,
    warning: $warning,
    grey1: $grey1,
    grey2: $grey2,
    grey3: $grey3,
    grey4: $grey4,
    grey5: $grey5,
    grey6: $grey6,
    grey7: $grey7,
    grey8: $grey8,
    grey9: $grey9,
    text: var(--color-text),
    background: var(--color-background),
    contrast0: var(--color-contrast0),
    contrast1: var(--color-contrast1),
    contrast2: var(--color-contrast2),
    contrast3: var(--color-contrast3),
    contrast4: var(--color-contrast4),
) !default;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;500;700&display=swap');
$font-family: 'Barlow', sans-serif !default;
$font-size: 16px !default;
$line-height: 1.3 !default;

$text-dark: $grey9;
$text-light: $grey1;

// Breakpoints
$breakpoints: (
    sm: 600px,
    m: 900px,
    lg: 1200px,
    xl: 1800px
) !default;

$duration: .4s;