@use 'sass:map';
@use '../abstract' as *;

$button-color: (
    accent,
    success,
    error,
    warning
);

button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
}

.btn {
    text-decoration: none;
    border: 1px solid var(--color-text);
    background-color: var(--color-text);
    color: var(--color-background);
    padding: .5rem 1rem;
    transition: all $duration;
    &:hover {
        background-color: transparent;
        color: var(--color-text);
    }
    &:focus {
        box-shadow: 0 0 4px var(--color-text);
    }
    @each $color in $button-color {
        &--#{$color} {
            $currentColor: map.get($colors, $color);
            border: 1px solid $currentColor;
            background-color: $currentColor;
            @if isDarkColor($currentColor) {
                color: $text-light;
            } @else {
                color: $text-dark;
            }
            &:hover {
                color: $currentColor;
                background-color: transparent;
            }
            &:focus {
                box-shadow: 0 0 .4rem $currentColor;
            }
        }
    }
}

.btn--light {
    text-decoration: none;
    border: 1px solid var(--color-text);
    background-color: transparent;
    color: var(--color-text);
    padding: .5rem 1rem;
    transition: all $duration;
    &:hover {
        background-color: var(--color-text);
    color: var(--color-background);
    }
    &:focus {
        box-shadow: 0 0 4px var(--color-text);
    }
    @each $color in $button-color {
        &--#{$color} {
            $currentColor: map.get($colors, $color);
            border: 1px solid $currentColor;
            color: $currentColor;
            background-color: transparent;

            &:hover {
            background-color: $currentColor;
                @if isDarkColor($currentColor) {
                    color: $text-light;
                } @else {
                    color: $text-dark;
                }
            }
            &:focus {
                box-shadow: 0 0 .4rem $currentColor;
            }
        }
    }
}