@use "../abstract" as *;

:root {
    @include light;
}

// Dark theme (Auto)
// Automatically enabled if user has Dark mode enabled
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) {
        @include dark;
    }
}

// Dark theme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme='dark'] {
    :root {
        @include dark;
    }
}

* {
    font-size: $font-size;
    font-family: $font-family;
    box-sizing: border-box;
    line-height: $line-height;
    color: var(--color-text);
    transition: color .4s, background-color .4s, border-color .4s;
}
body,
pre {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color-background);
    font-size: $font-size;
}