@use 'sass:math';

@for $i from 1 through 6 {
    h#{$i},
    .h#{$i} {
        $size: 2 - (math.div(($i - 1),6));
        $marge: 2 - (math.div(($i + 1),6));
        font-size: #{$size}rem;
        margin: #{$marge}rem 0;
    }
}

small {
    font-size: 0.75em;
}
.text-center {
    text-align: center;
}