.form-grp {
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    &.inline {
        flex-direction: row;
    }
    &.error {
        input,
        select {
            border: 2px solid var(--color-error);
        }
    }

    &-error {
        font-size: .8rem;
        color: var(--color-error);
        position: absolute;
        bottom: .8rem;
    }
 }

label {
    position: relative;
    display: block;
    padding-bottom: 0.25rem;
}

input,
textarea {
    border: 2px solid var(--color-text);
    background-color: var(--color-background);
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
}

textarea {
    height: 5 * 1.5rem;
}

// Checkbox and radio
input[type="radio"],
input[type="checkbox"] {
    position: absolute;
    border: none;
    padding: 0;
    opacity: 0;
    + label {
        display: flex;
        align-items: center;
        &:before {
            content: "";
            border: 2px solid var(--color-text);
            background-color: var(--color-background);
            width: 18px;
            height: 18px;
            margin-right: 0.5rem;
        }
        &:after {
            opacity: 0;
            content: "";
            position: absolute;
            left: 4px;
            border: 2px solid var(--color-background);
            background-color: var(--color-text);
            width: 10px;
            height: 10px;
        }
    }
    &:checked {
        + label {
            &:after {
                opacity: 1;
            }
        }
    }
}

input[type="radio"] {
    + label {
        &:after {
            border-radius: 50%;
        }
        &:before {
            border-radius: 50%;
        }
    }
}
select {
    background-color: var(--color-background);
    border: 2px solid var(--color-text);
    padding: 0.5rem;
    font-size: 1rem;
}
