@use 'sass:math';
@use "../abstract" as *;

.flex {
    display: flex;
    &.wrap {
        flex-wrap: wrap;
    }
    &.nowrap {
        flex-wrap: nowrap;
    }
    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }
    &.justify-start {
        justify-content: flex-start;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-around {
        justify-content: space-around;
    }
    &.justify-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }
    &.align-baseline{ 
        align-items: baseline;
    }
    &.align-start{ 
        align-items: flex-start;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.align-stretch {
        align-items: stretch;
    }

    @for $i from 1 through 12 {
        .c#{$i} {
            $width:(math.div($i,12)*100%);
            width: $width;
        }
    }

    @each $label, $value in $breakpoints {
        @for $i from 1 through 12 {
            .c#{$i}-#{$label} {
                @include break-up($label) {
                    $width:(math.div($i,12)*100%);
                    width: $width;
                }
            }
        }
    }
}
