$positions: (
    t: "top",
    b: "bottom",
    l: "left",
    r: "right"
);

.m-auto {
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}
@for $i from 0 through 8 {
    $value: $i * 0.25rem;
    .m-#{$i} {
        margin: $value;
    }
    .p-#{$i} {
        padding: $value;
    }
    .mx-#{$i} {
        margin-left: $value;
        margin-right: $value;
    }
    .px-#{$i} {
        padding-left: $value;
        padding-right: $value;
    }
    .my-#{$i} {
        margin-top: $value;
        margin-bottom: $value;
    }
    .py-#{$i} {
        padding-top: $value;
        padding-bottom: $value;
    }
    @each $label, $property in $positions {
        .p#{$label}-#{$i} {
            padding-#{$property}: $value;
        }
        .m#{$label}-#{$i} {
            margin-#{$property}: $value;
        }
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}