table {
    width: 100%;
    border-collapse: collapse;
    &.strip {
        tbody {
            tr:nth-child(odd) {
                td {
                    background-color: var(--color-contrast3);
                }
            }
        }
    }
}
thead {
    th {
        border-bottom: 2px solid var(--color-contrast5);
    }
}
td {
    border-bottom: 1px solid var(--color-contrast4);
}
tr:last-child {
    td {
        border-bottom: none;
    }
}
th {
    text-align: left;
}
th, td {
    padding: .8rem;
}